.food-gif{
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

p{
  text-align: center
}

#gif-buttons{
  margin-top: 20px;
}

.food-button{
  margin-left: 2px;
  margin-right: 2px;
}

#gif-container{
  margin-top: 20px;
}

#conjure-food{
  margin-top: 20px;
}